{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://getbootstrap.com/docs/4.1/assets/img/favicons/favicon.ico">
    <title>Avatar's Story 3</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'ppw/bootstrap.min.css' %}" rel="stylesheet">

  <!-- My StyleSheet inspired by Cover by @mdo -->
  <link href="{% static 'ppw/myCSS.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto font-weight-bold">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'ppw-index' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'ppw-work' %}">My Work</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link js-scroll-trigger" href="{% url 'ppw-about' %}">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'ppw-contact' %}">Contact Me</a>
                    </li>
            </div>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container mt-auto mb-auto">
        <div class="row">
            <div class="col align-content-center mt-auto mb-auto">
                <img src="{% static 'ppw/itsme.JPG' %}" height=400px width=auto>
            </div>
            <div class="col">
                <h1 style="font-size: 4em; text-align:right">About Me<br></h1>
                <div style="text-align: left;">
                    <h1>&#8226;Avatar Putra Pertama Azka</h1>
                    <h1>&#8226;Computer Science student at Universitas Indonesia</h1>
                    <h1>&#8226;Born August 6th 2001 in Newcastle Upon Tyne, UK</h1>
                    <h1>&#8226;Enthusiast of Video Games, Cats, and D&D</h1>
                </div>
            </div>
        </div>
    </div>



  <script src="{% static 'ppw/myJquery.js' %}"></script>
  <script src="{% static 'ppw/myPopperJS.js' %}"></script>
  <script src="{% static 'ppw/bootstrap.min.js' %}"></script>



</body>

</html>